@CHARSET "UTF-8";



h1 {
	font-weight: large;
}
h2 {
	font-weight: normal;
}

#main-contents input,textarea {
    width: 300px;
    padding: 17px;
    box-sizing: border-box;
    border: none;
    appearance: none;
}

input:focus,textarea:focus { outline: none;}
input[type=radio], input[type=checkbox]{ display: none;}

#main-contents input#submit {
	background-color: #A9F5BC;
}

/* ページ全体の設定 */
body {
	font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
	color: #333333;
	background-image: linear-gradient(-90deg, #FFBDE4, #A9BAFE);
}

/*ログイン画面*/

#main-contents {
	text-align: center;
}

.login-main{
	text-align: center;
}

/* 上部だけ角丸に */
#main-contents input#login_id {
	border-radius: 3px 3px 0 0 / 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0 / 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0 / 3px 3px 0 0;
}
/* 下部だけ角丸に */
#main-contents input#password {
	border-radius: 0 0 3px 3px / 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px / 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px / 0 0 3px 3px;
}