@CHARSET "UTF-8";


/* Effect1
 *************************************** */
/* 擬似要素の共通スタイル */
.submit::after,
.submit::before,
.submit-inner::after,
.submit-inner::before {
  background-color: #ffcc33;
  content: '';
  display: block;
  
  z-index: 10;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
/* 左上へ配置 */
.submit::after {
    height: 1px;
    left: -1px;
    top: -1px;
    width: 0px;
}
/* 右下へ配置 */
.submit::before {
  bottom: -1px;
  height: 1px;
  right: -1px;
  width: 0px;
}
/* 左下へ配置 */
.submit-inner::after {
  bottom: -1px;
  height: 0px;
  left: -1px;
  width: 1px;
}
/* 右下へ配置 */
.submit-inner::before {
  height: 0px;
  right: -1px;
  top: -1px;
  width: 1px;
}

/* hover */
.submit:hover::after,
.submit:hover::before {
  width: 100%;
  width: calc(100% + 1px);
}
.submit:hover .submit-inner::after,
.submit:hover .submit-inner::before {
  height: 100%;
  height: calc(100% + 1px);
}