@CHARSET "UTF-8";

body {
	font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
	color: #ffffff;
	background-color: #383838;
}
button, input, select, textarea {
  font-family : inherit;
}

#top-menu {
	background-color: rgba(0,0,0,0.9);
	line-height: 60px;
	padding: 0 2%;
	height: 60px;
	width: 96%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.CodeRary {
	display: inline-block;
	margin-right: 30px;
}

.btn-1 {
	display: inline-block;
}

#top-menu h2 {
	margin: 0;
}
