@CHARSET "UTF-8";

.css-raise:hover,
.css-raise:focus {
  box-shadow: 0 0.7em 0.5em -0.4em #8e44ad;
  transform: translateY(-0.25em);
}

$colors: (
  css-raise: #3498db, 
);

@each $button, $color in $colors {
  .#{$button} {
    --color: $color;
    --hover: adjust-hue($color, 45deg);
  }
}

#CSS button {  
  color: #3498db;
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: #3498db;
    color: #3498db;
  }
}

#CSS button {
  background: none;
  border: 5px solid;
  font: inherit;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 { font-weight: 400; }

code { 
  color: #3498db;
  font: inherit;
}